---
import { Counter } from "@components/Counter";
import Title from "@components/shared/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";



---

<MainLayout title="Favoritos">

   <Title>
    Favoritos
  </Title>

<!-- ejecutando la funcionalidad del contador como isla de astro en SolidJs -->
  <Counter client:load />

</MainLayout>