---
import '../styles/global.css';
import MainLayout from '../layouts/MainLayout.astro';
import { siteConfig } from '../config/site-config';
import BlogPosts from '../components/BlogPosts.astro';
import { getCollection } from 'astro:content';
import TypeBlogPosts from '@/components/TypeBlogPosts.astro';

//const posts = await Astro.glob('./posts/*.{md,mdx}'); // con esto cargamos todos los posts 

const blogPosts = await getCollection('blog'); // con esto cargamos todos los posts de la coleccion blog
---

<MainLayout title="Astro Blog">
	


<!-- component -->
<section class="bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
        <h1 class="text-3xl font-semiboldcapitalize lg:text-4xl text-white">{siteConfig.title}</h1>


			<!-- <BlogPosts /> -->

            <!-- Creamos el componente BlogPosts  y le pasamos las props necesarias -->
		<div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
            {blogPosts.map((post) => (
                <TypeBlogPosts post={post} />
            ))}
        </div> 
            
        </div>
    </div>
</section>








</MainLayout>
