---
import Navbar from "../components/Navbar.astro"
import MainLayouts from "../layouts/MainLayouts.astro"

const name = 'Kratos1700'
const title = 'Home Page'
---

<MainLayouts title={title}>

	<h1>{name}</h1>

		<p>Dia actual: {new Date().toLocaleDateString()}</p>
		<p>Hora actual: {new Date().toLocaleTimeString()}</p>
		<p id="current-time">Hora actual dinamica: </p>

</MainLayouts>


	<script>
		// Actualizar la hora cada segundo
		const currentTime =document.querySelector('#current-time') as HTMLParagraphElement;
		currentTime.innerText = `Hora actual dinamica: ${new Date().toLocaleTimeString()}`;
	</script>

</html>
