---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";


interface Props {
    title: string;
    description?: string;
}

const { title } = Astro.props; // aqui definimos que title es una propiedad que se pasará al componente MainLayouts

---


<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        
        <title>{title}</title>
        <!-- para las transiciones de página  antes eran los viewtransitions-->
        <ClientRouter />
    </head>
    <body class="bg-slate-800 text-slate-100 m-auto max-w-3xl">
<main class="mt-10">
    <slot/>
</main>

        
    </body>

    </html>