---
// codigo Server Side Only - momento de construccion
import PokemonCard from "../components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "../interfaces/pokemon-list-response";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon"); // aqui hacemos una peticion a la API de Pokemon
const data = (await resp.json()) as PokemonListResponse;
---

<MainLayout title="Pokémon Static Home">
  <h1 class="text-4xl">Listado de Pokémons</h1>
  <br />


<section 
aria-label="Listado de Pokémons"
class ="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-5  gap-4">
 

{data.results.map ((pokemon) => 
  <PokemonCard name={pokemon.name} url={pokemon.url} />
)}

</section>


<section class="flex px-50 mt-10 gap-2 items-center">

  <a class="nave" href="/pokemons/1">Ir a la navegación por paginación</a>

</section>


</MainLayout>


<style>
 
  @reference "tailwindcss"; 

  .nave {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded-md;

  }
 

</style>